<div id="menu">
	<div ><a href="post-tweet.html"><img alt="Tweet" src="images/Twitter_1.png" title="Tweet" width="50" height="50"></a></div>
	<b>Admin</b>
	<br>&nbsp;
	<ul>
		<li><a href="create-trailer.html">Add Trailer</a></li>
		<li><a href="trailer-list.html?edit=true">Edit Trailer</a></li>
		<li><a href="create-customer.html">Add Customer</a></li>
		<li><a href="customer-list.html?edit=true">Edit Customer</a></li>
		<li><a href="trailer-list.html">Trailer List</a></li>
		<li><a href="customer-list.html">Customer List</a></li>
		
	</ul>
	<ul>
		<li><a href="Index.html">Logout</a></li>
	</ul>
</div>