<div id="menu">
	<b>Customer</b>
	<br>	&nbsp;
	<ul>
		<li><a href="Index.html">Home</a></li>
		<li><a href="create-rental.html">Rent Trailer</a></li>
		<li><a href="rental-list.html">Return Trailer</a></li>
		<li><a href="license-description.html">License Description</a></li>
		<li><a href="trailer-pdf.html">Existing Trailer(PDF)</a></li>
		<li><a href="edit-profile.html">Edit Profile</a></li>
		<li><a href="login.html">Login</a></li>
		<li><a href="create-customer.html">Register</a></li>
	
	</ul>
	<b>Admin</b>
	<br>&nbsp;
	<ul>
		<li><a href="admin.html">Login as admin</a></li>
	</ul>
</div>